server {
    listen {{ nginx_port }};
    server_name {{ nginx_server_name }};
    root {{ nginx_root }};
    index index.html index.htm;

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ /\.ht {
        deny all;
    }

    access_log /var/log/nginx/{{ nginx_site_name }}_access.log;
    error_log /var/log/nginx/{{ nginx_site_name }}_error.log;
}
